CompilarJavaFX.txt
*.pdf

P1/*.pdf
P2/*.pdf
P3/*.pdf

P1/*.zip
P2/*.zip
P3/*.zip

# Cousas especificas
P2/hello
P1/ChatGrupal_Java
/P4/PublicaSubscribe_Bolsa/nbproject/private/
/P4/PublicaSubscribe_Bolsa/build/
/P4/PublicaSubscribe_Bolsa/dist/
/P4/practica5/nbproject/private/
/P5/practica5/nbproject/private/
/P5/practica5/build/
/P6/SubastaLibros/nbproject/private/
/P6/SubastaLibros/build/
/P5/practica5/dist/
/P6/JavaFxJade/nbproject/private/
/P6/JavaFxJade/build/
/P6/SubastaInglesa/nbproject/private/
/P6/SubastaInglesa/build/
/P7/SubastaInglesaOntoloxias/nbproject/private/
/P7/SubastaInglesaOntoloxias/build/
